# Application Environment Variables Example

# Gemini API Key for AI Insights
GEMINI_API_KEY=

# Firebase Web Config
VITE_FIREBASE_API_KEY=AIzaSyB0qmjpldmIwGOIOeNjfDTbAyonu7jCUA4
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0090101815.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0090101815
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0090101815.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1087497352422
VITE_FIREBASE_APP_ID=1:1087497352422:web:da7d2f2c6a714a51ec7727
VITE_FIREBASE_DATABASE_ID=ai-studio-59da7e32-e34d-4cb1-a150-cbba75194054
